body {
    background: #D8DEDC;
}

.active{
    font-weight:bold;
}

header {
    width: 100%;
    position: relative;
    font-family: Montserrat;
}

.background-image {
    width: 100%;
    position: relative;
}

.background-image img {
    width: 100%;
}

p{
    font-family:Montserrat;
}

.page-header.home-header .content-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    color: white;
    height: fit-content;
    color: white;
}

#head {
    display: flex;
    flex-direction: row;
    margin:2vw 2vw 0 2vw;
    font-size:1.4vw;
}

.small{
    margin: 0 2vw;
}

    .small p:hover {
        cursor: pointer;
        font-weight: 900;
    }

.brand-name {
    margin: 0 2vw;
    margin-right: auto;
    font-weight: 900;
}

.big-text {
    width: 40%;
    font-size: 5vw;
    font-weight: bolder;
    margin-left: 4vw;
    align-content:center;
}

    .big-text p {
        margin: 4vw 0;
    }

.smaller-text {
    margin-left: 4vw;
    font-size: 1.3vw;
    width: 40%;
}

.smaller-text p{
    margin-top: 0;
}

.button-div {
    display: inline-flex;
    padding: 0.2vw 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 50vw;
    background: #639654;
    border: none;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    font-size: 1.2vw;
    width: fit-content;
    margin-left: 4vw;
    margin-top: 1vw;
}

    .button-div:hover {
        background: #316422;
    }

a {
    text-decoration: none;
    color: inherit;
}