body{
    font-family: Montserrat;
}

.big-center-text {
    font-size: 3vw;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 1.5vw 0;
}

.text-div {
    margin-top: 7vw;
    text-align: center;
    justify-content: center;
}

.description {
    color: #4A4A4A;
    font-size: 1.3vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
    margin: 0 auto;
}

.why-divs img{    
    width: 25vw;
    height: 25vw;
}

.why-divs {
    margin: 5vw 4vw 0 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#fresh-image{
   width:fit-content;
   padding-right:5vw;
}

#fresh-text {
    text-align: right;
    width: 50%;
    margin-left:auto;
    height: fit-content;
}

.small-title{
    font-size:2vw;
    font-family: Montserrat;
    font-weight:900;
}

.transp-btn {
    display: inline-flex;
    padding: 0.2vw 2vw;
    justify-content: center;
    align-items: center;
    border-radius: 50vw;
    background: #D8DEDC;
    border: 1px solid #4A4A4A;
    font-family: Montserrat;
    color: #4A4A4A;
    cursor: pointer;
    font-size: 1.2vw;
    width: fit-content;
    margin-top: 1vw;
    margin-left:1vw;
}

.small-description{
    font-size:1.3vw;
}

#cust-text .button-div{
    margin-left:0;
}

#cust-text {
    text-align: left;
    width: 50%;
    margin-right: auto;
    height: fit-content;
}

.green-full {
    width: 100%;
    height: fit-content;
    background: #1C2F1F;
    color: white;
    display: flex;
    justify-content: center;
    margin-top:4vw;
}

.center-big{
    width:70%;
    text-align:center;
    margin:4.3vw 0;
}

    .center-big .small-description {
        color: #E3E5E4;
    }

    .center-big .button-div{
        margin:0;
        margin-top:1vw;
    }

.exp-big{
    font-size:2.7vw;
    font-weight:900;
    margin-top:0;
}


.rev {
    width:min-content;
    background: #1C2F1F;
    border-radius: 3vw;
    padding:2.4vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    .rev img {
        height: 18vw;
        width: 20vw;
        border-radius: 3vw;
    }

    .rev p{
        width:90%;
        color:white;
        font-size:1.1vw;
    }

.comment{
    margin-top:2vw;
    margin-bottom:0;
}

#reviews {
    padding: 0 7vw;
    margin-top: 5vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom:10vw;
}

.author{
    font-size:1vw;
    font-weight:900;
}

#faq{
    font-size:2.1vw;
    font-weight:900;
    margin-bottom:1vw;
}

#d-smaller{
    font-size:1.2vw;
}

#questions{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:3vw;
    margin-bottom:7vw;
}

.question {
    border-bottom: 1px solid #7A7A7A;
    width:80%;
    height: 7vw;
    display:flex;
    flex-direction:row;
    align-items:center;
    padding:0 2vw;
}

.qstn-text, .answer-text{
    width:fit-content;
}

.qstn-text{
    font-size:1.35vw;
    font-weight:700;
}

.round-btn {
    width: fit-content;
    padding: 0.4vw 1.2vw;
    background: #E3E5E4;
    border-radius: 100%;
    font-size: 2.1vw;
    font-weight: 400;
    color: #7A7A7A;
    margin-left:auto;
    cursor: pointer;
}

.answer {
    display: none;
    width: 80%;
    height: 5vw;
    align-items: center;
}

.answer-text{
    width:90%;
    font-size:1.2vw;
}


input[type=email] {
    width: 30vw;
    padding: 0.9vw;
    background: #D9D9D9;
    border: none;
    font-family: Montserrat;
    height:1.3vw;
    font-size: 1.3vw;
    margin-right:0;
}

    input[type=email]:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

input[type=submit] {
    margin-left: 0;
    right:0;
    border: none;
    padding: 0 1vw;
    height: 3.1vw;
    line-height: 2.8vw;
    background: #639654;
    font-family: Montserrat;
    color: white;
    cursor: pointer;
    font-size: 1.3vw;
}

#sign-up .exp-big{
    margin-bottom:2vw;
}

#sign-up .small-description{
    width:65%;
    margin: auto;
    margin-bottom: 2vw;
}